/*-- scss:defaults --*/

// https://ucsb-meds.github.io/customizing-quarto-websites/#/title-slide

// colores

$ca: #377EB8;
$cr: #E41A1C;
$cg: #FAFAFA;
$cn: #000000;

// Ubuntu
@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

// Friz Quadrata Bold
@import 'https://db.onlinewebfonts.com/c/9d476c89b917332f9a199fe50bbeb161?family=Friz+Quadrata+Bold';

// Nerd Font
@import "https://www.nerdfonts.com/assets/css/webfont.css";

// JetBrains Mono
@import url('https://fonts.googleapis.com/css2?family=Gloock&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

// Bebas Neue
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gloock&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/*-- scss:rules --*/

.header-section-number {
    color: $ca;
}

// remuevo el título
.title {
    text-align: left;
    font-size: 5rem;
    font-family: Bebas Neue;
    color: $cr;
}

#title-block-header.quarto-title-block.default .quarto-title .title {
    margin-bottom: 200;
}

pre > code.sourceCode > span {
    color: $cr;
    font-family: JetBrains Mono;
}

code {
    font-family: JetBrains Mono;
    color: $cr;
}

a {
  color: $ca;
}

// fuente de texto de las capas en el mapa interactivo
.leaflet-control-layers-expanded {
    font-family: JetBrains Mono;
}

// estilo del callout
/*
.callout.callout-style-simple .callout-body {
    font-size: 1.1rem;
    font-weight: 400;
}
*/

// color de texto del título de los callout
.callout > div.callout-header {
	cursor: pointer;
	color: $cn;
}

// color del borde izquierdo
div.callout-note.callout {
    border-color: $ca;
}

// color de las secciones activas en la tabla de contenidos
.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
    border-left: 1px solid $ca;
    color: $ca !important;
}

// en la tabla de contenidos, al pasar el mouse sobre las secciones que sea azul
.sidebar nav[role=doc-toc] ul>li>a:hover, .sidebar nav[role=doc-toc] ul>li>ul>li>a:hover {
    color: $ca !important;
}

// color de fondo del grafo de funciones targets::tar_visnetwork()
.vis-network {
  background-color: $cg;
}

// descripción de las tablas
.column-margin figcaption, .margin-caption, div.aside, aside, .column-margin {
    color: $cn;
    font-size: 1em;
}

// descripción de las figuras
.panel-caption, .figure-caption, .subfigure-caption, .table-caption, figcaption, caption {
    color: $cn;
    font-size: 1rem;
}

// fondo de los comandos
pre.sourceCode {
    background-color: $cg;
}