/*-- scss:defaults --*/

// https://ucsb-meds.github.io/customizing-quarto-websites/#/title-slide

// colores

$ca:#B86092;
$cr:#007E2E;
$cg:#FAFAFA;
$cn:#000000;
$cb:#FFFFFF;
$cg2:#D3D3D3;
$cg3:#F5F5F5;

// Lato
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

// Nerd Font
@import "https://www.nerdfonts.com/assets/css/webfont.css";

// JetBrains Mono
@import url('https://fonts.googleapis.com/css2?family=Gloock&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

// Bebas Neue
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

// Libre Bodoni
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');

$font-family-sans-serif: "Lato", sans-serif;
$font-family-monospace: "JetBrains Mono";
$font-family-title: "Bebas Neue";
$font-family-header: "Libre Bodoni";

$body-color: $cn;

/*-- scss:rules --*/

.eqi-container {
  display: flex;
  justify-content: space-between;
}

#title-block-header.quarto-title-block.default .keywords .block-title, #title-block-header.quarto-title-block.default .description .block-title, #title-block-header.quarto-title-block.default .abstract .block-title {
  font-weight: bold;
}

#title-block-header.quarto-title-block.default .quarto-title-meta-heading {
  font-weight: bold;
}

.quarto-title-banner {
  color: $cn;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Libre Bodoni";
}

.header-section-number {
    color: $ca;
}

// estilo de título
#title-block-header.quarto-title-block.default .quarto-title .title {
    margin-bottom: 0;
    font-family: "Libre Bodoni";
    color: $cr;
    font-size: 4rem;
}

titulo-portada {
    margin-bottom: 0;
    font-family: "Bebas Neue";
    color: $cr;
    font-size: 5.5rem;
}

// línea en encabezado
h2, .h2 {
    border-bottom: 1px solid $cg2;
    padding-bottom: .5rem;
}

pre > code.sourceCode > span {
    color: $cr;
}

code {
    color: $cr;
}

a {
  color: $ca;
}

// fuente de texto de las capas en el mapa interactivo
.leaflet-control-layers-expanded {
    font-family: JetBrains Mono;
}

// estilo del callout
/*
.callout.callout-style-simple .callout-body {
    font-size: 1.1rem;
    font-weight: 400;
}
*/

// color de texto del título de los callout
.callout > div.callout-header {
  cursor: pointer;
  color: $cn;
}

.callout.callout-style-default .callout-header[aria-expanded="false"], .callout.callout-style-default .callout-header[aria-expanded="true"] {
  padding-top: 0px;
  margin-bottom: 0px;
  align-items: center;
  // background: #FFFBFD;
}

// color del borde izquierdo, y forma cuadrada
div.callout-note.callout {
    border-color: $cr;
    border-radius: 0;
}

.callout.callout-style-simple .callout-body {
  font-size: 1rem;
  font-weight: 400;
}

.callout.callout-style-default .callout-body {
  font-size: 1rem;
  font-weight: 400;
}

// color de las secciones activas en la tabla de contenidos
.sidebar nav[role=doc-toc] ul>li>a.active, .sidebar nav[role=doc-toc] ul>li>ul>li>a.active {
    border-left: 1px solid $ca;
    color: $ca !important;
}

// en la tabla de contenidos, al pasar el mouse sobre las secciones que sea azul
.sidebar nav[role=doc-toc] ul>li>a:hover, .sidebar nav[role=doc-toc] ul>li>ul>li>a:hover {
    color: $ca !important;
}

// color de fondo del grafo de funciones targets::tar_visnetwork()
.vis-network {
  background-color: $cg;
}

// descripción de las tablas
.column-margin figcaption, .margin-caption, div.aside, aside, .column-margin {
    color: $cn;
    font-size: 1em;
}

// descripción de las figuras
.panel-caption, .figure-caption, .subfigure-caption, .table-caption, figcaption, caption {
    color: $cn;
    font-size: 1rem;
}

// fondo de los comandos
pre.sourceCode {
    background-color: $cg;
}

// mapa
.leaflet-popup-content-wrapper {
  background-color: $cr;
  color:green;
  box-shadow: 0 3px 14px rgba(0,0,0,0.4);
}

// color de fondo del título de los callout
div.callout-note.callout-style-default > .callout-header {
  background-color:#F9FFF9;
}

// tabsets
// color del texto
.nav-link {
  color: $cn;
}

.nav-link:hover, .nav-link:focus {
  color: $cn;
    border-radius: 0;
}

// contorno del bloque
.tab-content {
  margin-top: 0px;
    // border: $ca 1px solid;
    border: transparent;
  margin-left: 0;
  padding: 1em;
  margin-bottom: 1em;
}

// título de los tabset
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: $ca;
  border-color: $ca;
    border-radius: 0;
    --bs-nav-tabs-border-radius: 0;
    --bs-nav-tabs-link-active-bg:#F5F5F5;
    // border-bottom: 1px solid $cg2;
}

// fuerzo que la tabla de contenido (toc) se ubique por sobre todos
// los elementos del sitio, evitando que las tablas generadas con
// {gt} bloqueen la toc
.sidebar.toc-left, .sidebar.margin-sidebar {
	z-index: 100000;
}

.nav-tabs {
    --bs-nav-tabs-border-width: 1px;
    --bs-nav-tabs-border-color: white;
    --bs-nav-tabs-border-radius: 0rem;
    --bs-nav-tabs-link-hover-border-color:#B86092 #B86092 #B86092 #B86092;
    --bs-nav-tabs-link-active-color: #000;
    --bs-nav-tabs-link-active-bg:#ffffff;
    --bs-nav-tabs-link-active-border-color: white white #ffffff;
    border-bottom: 1px solid $cg2;
}

.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color:#0d6efd;
    --bs-nav-link-hover-color:#0a58ca;
    --bs-nav-link-disabled-color: rgba(33, 37, 41, 0.75);
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

// mermaid

#mermaid-1 .edgeLabel p {
    background-color: $cg3;
    color: black;
}

:root {
    --mermaid-edge-color: #{$ca};
    --mermaid-label-fg-color: #{$cn};
}

// línea horizontal sobre Referencias
#quarto-appendix.default {
    border-top: 1px solid $cg2;
}

// NOTEBOOK

// cambio color del banner superior
.bg-primary {
    background-color: $ca !important;
}

// botones en banner superior
#quarto-embed-header a.quarto-back-link, #quarto-embed-header a.quarto-download-embed {
    background-color: $ca;
    border-color: $ca;
    &:hover {
      background-color: lighten($ca, 10);
      border-color: lighten($ca, 10);
    }
}
